@use '/src/theme/screen.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 20vw;
  & > * {
    margin: 1rem;
    flex: 1 1 0;
  }
  height: 400px;
}
app-bookmark-list {
  align-self: stretch;
}
@include screen.screen-width-small {
  :host {
    padding: 0;
  }
}
