<mat-card *ngIf="savedBookmark$ | async; let bookmark">
  <mat-card-header>
    <mat-card-title>
      <ng-container *ngIf="saveType === 'add'"> New Bookmark Saved </ng-container>
      <ng-container *ngIf="saveType === 'update'"> Bookmark Updated </ng-container>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-bookmark-overview [bookmark]="bookmark"></app-bookmark-overview>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button color="primary" routerLink="">Back</button>
  </mat-card-actions>
</mat-card>
