<mat-card>
  <mat-card-header>
    <mat-card-title>Bookmarks</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-selection-list [multiple]="false">
      <ng-container *ngIf="bookmarks$ | async; let bookmarks">
        <ng-container *ngIf="bookmarks.length !== 0; else noBookmarksMessage">
          <ng-container *ngFor="let bookmark of bookmarks; let last = last">
            <mat-list-option>
              <div mat-line>{{ bookmark.name }}</div>
            </mat-list-option>
            <mat-divider *ngIf="!last"></mat-divider>
          </ng-container>
        </ng-container>
      </ng-container>
    </mat-selection-list>
  </mat-card-content>
</mat-card>

<ng-template #noBookmarksMessage>
  No bookmarks to display. Please add bookmarks.
</ng-template>
