<mat-card>
  <mat-card-header>
    <mat-card-title>Bookmarks</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="pagedBookmarks$ | async; let bookmarks">
      <ng-container *ngIf="bookmarks.totalRecords !== 0; else noBookmarksMessage">
        <mat-list *appLet="selectedBookmarkId$ | async as selectedBookmarkId">
          <ng-container
            *ngFor="
              let bookmark of bookmarks.pagedRecords;
              let last = last;
              trackBy: bookmarkIdentifier
            "
          >
            <mat-list-item [class.selected-bookmark]="selectedBookmarkId === bookmark.id">
              <span>{{ bookmark.name }}</span>
              <span class="expander"></span>
              <button (click)="setSelectedBookmark(bookmark.id)" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </mat-list-item>
            <mat-divider *ngIf="!last"></mat-divider>
          </ng-container>
        </mat-list>
        <mat-paginator
          [pageSize]="pageSize"
          [pageIndex]="bookmarks.pageIndex"
          [length]="bookmarks.totalRecords"
          (page)="changePage($event)"
        ></mat-paginator>
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #noBookmarksMessage>
  No bookmarks to display. Please add bookmarks.
</ng-template>
