<div class="toggle mat-app-background">
  <mat-slide-toggle [formControl]="themeControl" color="primary"> </mat-slide-toggle>
  <div class="theme-icon-container">
    <div class="theme-icon">
      <ng-container
        *ngIf="themeControl.value"
        [ngTemplateOutlet]="themeIcon"
        [ngTemplateOutletContext]="{ icon: 'dark_mode' }"
      ></ng-container>
      <ng-container
        *ngIf="!themeControl.value"
        [ngTemplateOutlet]="themeIcon"
        [ngTemplateOutletContext]="{ icon: 'light_mode' }"
      ></ng-container>
    </div>
  </div>
</div>

<ng-template #themeIcon let-icon="icon">
  <mat-icon @fadeInOnEnter @fadeOutOnLeave>
    {{ icon }}
  </mat-icon>
</ng-template>
