.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  flex-grow: 1;
  overflow: auto;
  padding: 8vh 1rem;
  text-align: center;
  position: relative;
}
