// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
@use './theme/dark-theme.scss';
@use './theme/light-theme.scss';
@use './theme/shared.scss';

@include mat.core();

// Apply the dark theme by default
@include mat.all-component-themes(dark-theme.$dark-theme);
@include mat.core-theme(dark-theme.$dark-theme);

// Apply the light theme when class is added to an ancestor element
.light-theme {
  @include mat.all-component-themes(light-theme.$light-theme);
  @include mat.core-theme(light-theme.$light-theme);
}

// Transition the toggling between themes
.mat-app-background {
  @include shared.transition-theme();
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

main > *:not(router-outlet) {
  position: absolute;
  left: 0;
  right: 0;
}
