@use '/src/theme/screen.scss';
:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 10%;
}

mat-card {
  width: 40vw;
  max-width: 600px;
}

@include screen.screen-width-small {
  mat-card {
    width: 100%;
    max-width: inherit;
  }
}
