<form [formGroup]="bookmarkForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Edit Bookmark</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" [formControl]="nameControl" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Url</mat-label>
        <input matInput type="text" [formControl]="urlControl" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button (click)="clearForm()" mat-button type="button">Clear</button>
      <button *ngIf="bookmarkId" @bounceInOnEnter mat-button>Cancel</button>
      <button (click)="saveBookmark()" mat-raised-button color="primary">
        {{ bookmarkId === null ? 'Add' : 'Update' }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
