<form [formGroup]="bookmarkForm" (ngSubmit)="saveBookmark()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ bookmarkId === null ? 'Add Bookmark' : 'Edit Bookmark' }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" [formControl]="nameControl" />
        <mat-error *ngIf="nameControl | hasError: 'maxLength'; let error">
          The name must be no more than {{ error.requiredLength }} characters
        </mat-error>
        <mat-error *ngIf="nameControl | hasError: 'required'">
          The name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Url</mat-label>
        <input matInput type="url" [formControl]="urlControl" />
        <mat-error *ngIf="urlControl | hasError: 'required'">
          The url is required
        </mat-error>
        <mat-error *ngIf="urlControl | hasError: 'url'"> The url is not valid </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button (click)="clearForm()" mat-button type="button">Clear</button>
      <button
        (click)="cancelEdit()"
        *ngIf="bookmarkId"
        type="button"
        @bounceInOnEnter
        mat-button
      >
        Cancel
      </button>
      <button type="submit" (click)="saveBookmark()" mat-raised-button color="primary">
        {{ bookmarkId === null ? 'Add' : 'Update' }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
